.quest-page{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .quest-card{
        padding: 5px 25px 15px 25px;
        background-color: var(--electric-blue);
        color: var(--white);
        border-radius: 5px;
        width: 500px;
        .top{
            display: flex;
            justify-content: space-between;
            padding-bottom: 8px;
            position: relative;
            gap: 100px;
            p{
                font-size: 1.2rem;
            }
            &::after{
                content: '';
                position: absolute;
                bottom: 2px;
                left: -25px;
                width: calc(100% + 50px);
                height: 1px;
                background-color: var(--white);
            }
        }
        .quest{
            margin: 4px 0 8px 0;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: calc(100%);
                height: 1.5px;
                background-color: var(--white);
            }
            h2{
                font-size: 2rem;
            }
        }
        .keys{
            display: flex;
            flex-direction: column;
            gap: 4px;
            h3{
                cursor: pointer;
                font-size: 1.3rem;
                &:hover{
                    background-color: #f961663b;
                }
            }
        }
        .bottom{
            display: flex;
            justify-content: flex-end;
            button{
                margin-top: 5px;
            }
        }
    }
    .end{
        padding: 5px 25px 15px 25px;
        background-color: var(--electric-blue);
        color: var(--white);
        border-radius: 5px;
        text-align: center;
        button{
            margin-top: 5px;
        }
    }
    .bg-red{
        background-color: var(--coral) !important;
    }
    .dn{
        display: none;
    }
    .db{
        display: block;
    }
}