:root{
    --electric-blue : #4831D4;
    --lime-green: #CCF381;

    --yellow: #F9E795;
    --coral: #F96167;

    --white: #FFFFFF;
    --baby-blue: #8AAAE5;

    --moss-green: #97BC62FF;
    --forest-green: #2C5F2D;
}